<!doctype html>
<html>
    <head>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
       <script src="static/js/client.js"></script>
       <style type="text/css">
          h1 {
            margin-left: 20px;
          }
          button {
            margin: 20px;
          }
          p {
            margin-left: 20px;
            margin-top: 40px;
          }
          #container {
            height: 100%;
            width: 100%;
            display: flex;
          }
          #left {
            margin-left: 20px;
            width: 50%;
          }
          #right {
            margin-right20px;
            width: 50%;
          }
       </style>
       <title>⚡🤖 Handlingslistomatic 4000 🤖⚡</title>
    </head>
    <body>
      <h1>⚡🤖 Handlingslistomatic 4000 🤖⚡</h1>

      <p>
        Sortera din handlingslista efter var produkterna finns i din butik.
      </p>

      <form id="form" role="form">

        <div id="container">
          <div id="left">
            <h2>Handlingslista</h2>
            <textarea id="shoppingList"
                      cols="40"
                      rows="20"
                      placeholder="Handlingslistan"
                      required="true">{{shoppingList}}</textarea>
          </div>

          <div id="right">
            <h2>Sorterad lista över alla produkter</h2>
            <textarea id="referenceProducts"
              cols="40"
              rows="20"
              required="true"
              placeholder="Lista av produkter sorterad efter plats i butiken"
              >{{referenceProducts}}</textarea>
          </div>
        </div>

        <div>
          <button id="buttonSort">Sortera</button>
        </div>
      </form>
    </body>

</html>
